* {
    font-family: var(--default-font);
    background-color: var(--default-background);
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/static/Montserrat-Light.woff2') format('woff2'),
         url('../fonts/Montserrat/static/Montserrat-Light.woff') format('woff'),
         url('../fonts/Montserrat/static/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Montserrat Regular Italic */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/static/Montserrat-Italic.woff2') format('woff2'),
         url('../fonts/Montserrat/static/Montserrat-Italic.woff') format('woff'),
         url('../fonts/Montserrat/static/Montserrat-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* Montserrat SemiBold */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/static/Montserrat-SemiBold.woff2') format('woff2'),
         url('../fonts/Montserrat/static/Montserrat-SemiBold.woff') format('woff'),
         url('../fonts/Montserrat/static/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

/* Montserrat Bold */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/static/Montserrat-Bold.woff2') format('woff2'),
         url('../fonts/Montserrat/static/Montserrat-Bold.woff') format('woff'),
         url('../fonts/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Montserrat Bold Italic */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/static/Montserrat-BoldItalic.woff2') format('woff2'),
         url('../fonts/Montserrat/static/Montserrat-BoldItalic.woff') format('woff'),
         url('../fonts/Montserrat/static/Montserrat-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/* Montserrat ExtraBold */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/static/Montserrat-ExtraBold.woff2') format('woff2'),
         url('../fonts/Montserrat/static/Montserrat-ExtraBold.woff') format('woff'),
         url('../fonts/Montserrat/static/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

/* Montserrat ExtraBold Italic */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/static/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
         url('../fonts/Montserrat/static/Montserrat-ExtraBoldItalic.woff') format('woff'),
         url('../fonts/Montserrat/static/Montserrat-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

/* Montserrat Black Italic */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/static/Montserrat-BlackItalic.woff2') format('woff2'),
         url('../fonts/Montserrat/static/Montserrat-BlackItalic.woff') format('woff'),
         url('../fonts/Montserrat/static/Montserrat-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
a {
    color: white;
    text-decoration: none;
}