.painel_aluno_sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 275px;

    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    background-color: var(--cor-primaria);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.painel_aluno_header_mobile { 
    display: none; 
    position: fixed;
    top: 3%;
    left: 0;
    width: 70%;
    height: 70px;
    padding: 10px 15px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: var(--cor-primaria);
}

.painel_aluno_burguer { 
    display: none; 
    position: fixed;
    top: 3%;
    right: 5%;
    width: 65px;
    height: 65px;
    font-size: 45px;
    color: white;
    background-color: var(--cor-primaria);
    border-radius: 50%;
}

.acao_clicar_burguer_painel_aluno {
    display: none;
    position: fixed;
    top: 90px;
    background-color: #D7D7D7;
}

.acao_clicar_burguer_painel_aluno.ativo {
    display: block;
}

.acao_clicar_burguer_painel_aluno i{
    font-size: 27px;
    gap: 20px;
}

.acao_clicar_burguer_painel_aluno small{
    font-size: 17px;
    font-weight: 530;
}

.acao_clicar_burguer_painel_aluno a {
    text-decoration: none;
    color: black;
}


/* PERFIL */
.painel_aluno_dados_perfil {
    display: flex;
    align-items: center;
    gap: 10px;
    color: aliceblue;
}

.painel_aluno_foto_user i {
    font-size: 42px;
}

.painel_aluno_nav_botoes {
    position: relative;
}

#barra-ativa {
    position: absolute;
    left: -20px;
    width: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 0;
    background: rgba(255, 255, 255, 0.738);
    border-radius: 3px;
    transition: top 0.3s ease, height 0.3s ease;
}

.painel_aluno_esta_pagina {
    border-left: solid 5px white;
}

/* BOTÕES */
.painel_aluno_nav_botoes {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.painel_aluno_nav_botoes a {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--cor-secundaria);

    height: 60px;
    padding-left: 15px;

    text-decoration: none;
    color: white;
    margin-left: -20px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: 600;
    transition: 0.2s;
}

.painel_aluno_nav_botoes a:hover {
    background-color: rgba(255, 255, 255, 0.155);
    color: rgba(255, 255, 255, 0.642);
}

.painel_aluno_nav_botoes .painel_aluno_sair {
    background-color: var(--cor-botao-sair);
    margin-top: 40px;
}

.painel_aluno_nav_botoes .painel_aluno_sair i {
    color: rgb(103, 12, 12);
    font-size: 22px;
}

.painel_aluno_nav_botoes .painel_aluno_sair:hover {
    background-color: rgb(254, 35, 35);
    color: rgba(255, 255, 255, 0.788);
}

/* Lado esquerdo do painel */

.painel_aluno_painel_principal {
    display: flex;
    flex-direction: column;
    gap: 30px;

    margin-left: 315px;
    padding: 20px;
}

.painel_aluno_tres_blocos {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.painel_aluno_proximo_treino,
.painel_aluno_progresso,
.painel_aluno_mensagens {
    width: 30%;
    height: 200px;
    border-radius: 20px;
    border: solid 5px var(--cor-primaria);
}

.painel_aluno_atividades {
    height: 200px;
    width: 100%;
    max-width: 95%;
    border-radius: 20px;
    border: solid 5px var(--cor-primaria);
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

.painel_aluno_proximo_treino {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.painel_aluno_proximo_treino h2 {
    text-align: center;
    color: rgb(107, 107, 107);
    font-size: 20px;
}

.painel_aluno_proximo_treino .painel_aluno_horario {
    text-align: center;
    color: black;
    font-weight: 600;
    gap: 10px;
    font-size: 23px;
}

.painel_aluno_proximo_treino button {
    width: 175px;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--cor-primaria);
    color: aliceblue;
    font-weight: 600;
    border: none;
    font-size: 16px;
}

.painel_aluno_proximo_treino button:hover {
    transform: scale(1.01);
    transition: ease 0.2s;
}

.painel_aluno_progresso {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.painel_aluno_progresso h2 {
    text-align: center;
    color: rgb(107, 107, 107);
    font-size: 20px;
}

.painel_aluno_grafico {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    height: 140px;
}

.painel_aluno_barra {
    height: 110px;
    width: 25px;
    border-radius: 6px;
    background-color: rgb(227, 227, 227);

    display: flex;
    align-items: flex-end;
    overflow: hidden;
}

.painel_aluno_barra div {
    width: 100%;
    background-color: var(--cor-primaria);
    border-radius: 6px;
}

.painel_aluno_mensagens h2 {
    text-align: center;
    color: rgb(107, 107, 107);
    font-size: 20px;
    margin-top: 8px;
}

.painel_aluno_mensagens .painel_aluno_conteudo_vazio {
    display: flex;
    color: rgb(192, 192, 192);
    font-weight: 600;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.painel_aluno_atividades h2 {
    margin-top: 17px;
    margin-left: 17px;
}

.painel_aluno_atividades div {
    margin-left: 17px;
    margin-top: 20px;
    font-weight: 600;
    gap: 10px;
}

/* TELA DE TREINOS */

.container_seis_blocos_treinos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    gap: 40px;
    align-content: center;
}


.bloco_paineldetreinos {
    display: flex;
    width: 80%;
    height: 200px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    border: solid 5px var(--cor-primaria);
}
.h1_meus_treinos_painel_aluno {
    margin-left: 315px;
    padding: 30px;
}


.h1_meus_treinos_painel_aluno {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.h1_meus_treinos_painel_aluno i{
    font-size: 30px;
    font-weight: 600;
}

.painel_aluno_treinos {
    display: flex;
    flex-direction: column;
    margin-left: 315px;
    padding: 20px;
    justify-content: center;
}

.painel_aluno_proximo_treino_tela_treinos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
    
.painel_aluno_proximo_treino_tela_treinos_descanço {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.painel_aluno_proximo_treino_tela_treinos_descanço .painel_aluno_horario {
    text-align: center;
    color: rgb(125, 125, 125);
    font-weight: 600;
    gap: 10px;
    font-size: 23px;
}

.painel_aluno_proximo_treino_tela_treinos button {
    width: 175px;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--cor-primaria);
    color: aliceblue;
    font-weight: 600;
    border: none;
    font-size: 16px;
}

.painel_aluno_proximo_treino_tela_treinos button:hover {
    transform: scale(1.01);
    transition: ease 0.2s;
}

.painel_aluno_proximo_treino_tela_treinos h2 {
    text-align: center;
    color: rgb(107, 107, 107);
    font-size: 20px;
}

.painel_aluno_proximo_treino_tela_treinos .painel_aluno_horario {
    text-align: center;
    color: black;
    font-weight: 600;
    gap: 10px;
    font-size: 23px;
}


@media screen and  (max-width: 768px) {

    .painel_aluno_header_mobile {
        display: flex;
    }

    .h1_meus_treinos_painel_aluno {
        display: flex;
        margin-left: 0;
        margin-top: 130px;
        padding: 30px;
        justify-content: center;
    }

    .hr_linha_decorada_apos_h1_meus_treinos {
        border: solid 1px;
        border-image: linear-gradient(to right, transparent,  rgba(0, 0, 0, 0.216), transparent) 1;
    }

    .painel_aluno_treinos {
        margin: 0;
    }

    .container_seis_blocos_treinos {
        grid-template-columns: 1fr;
    }

    .acao_clicar_burguer_painel_aluno {
        display: none;
    }

    .acao_clicar_burguer_painel_aluno.ativo {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 50%;
        padding: 15px;
    }

    .acao_clicar_burguer_painel_aluno a div {
        border-bottom: 2px solid;
        border-image: linear-gradient(to right, rgba(0, 0, 0, 0.149), transparent) 1;
    }

    .painel_aluno_burguer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    /* SIDEBAR MOBILE */
    .painel_aluno_sidebar {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        transition: 0.3s;
    }

    .painel_aluno_sidebar.ativo {
        left: 0;
    }

    /* CONTEÚDO */
    .painel_aluno_painel_principal {
        margin-left: 0;
        padding: 15px;
        padding-top: 90px;
    }

    /* GRID MOBILE (1 coluna) */
    .painel_aluno_tres_blocos {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        text-align: center;
        justify-content: center;
    }

    /* CARDS 100% */
    .painel_aluno_proximo_treino,
    .painel_aluno_progresso,
    .painel_aluno_mensagens,
    .painel_aluno_atividades {
        width: 70%;
        max-width: 100%;
        margin: 0 auto;
    }

    /* REMOVE WIDTH FIXO BUGADO */
    .painel_aluno_atividades {
        width: 70%;
        max-width: 100%;
        margin: 0 auto;
    }
}




@media screen and (max-width: 448px) {

    h1 {
        font-size: 25px;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
    }

    .painel_aluno_treinos {
        margin: 0;
    }

    .painel_aluno_treinos {
        margin-left: 0;
        padding-top: 90px; /* <- ESSA LINHA resolve */
    }

    .acao_clicar_burguer_painel_aluno {
        display: none;
    }

    .acao_clicar_burguer_painel_aluno.ativo {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 50%;
        padding: 15px;
    }

    .acao_clicar_burguer_painel_aluno a div {
        border-bottom: 2px solid;
        border-image: linear-gradient(to right, rgba(0, 0, 0, 0.149), transparent) 1;
    }

    .painel_aluno_header_mobile {
        display: flex;
    }

    .painel_aluno_burguer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    /* SIDEBAR MOBILE */
    .painel_aluno_sidebar {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        transition: 0.3s;
    }

    .painel_aluno_sidebar.ativo {
        left: 0;
    }

    /* CONTEÚDO */
    .painel_aluno_painel_principal {
        margin-left: 0;
        padding: 15px;
        padding-top: 90px;
    }

    /* GRID MOBILE (1 coluna) */
    .painel_aluno_tres_blocos {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        text-align: center;
        justify-content: center;
    }

    /* CARDS 100% */
    .painel_aluno_proximo_treino,
    .painel_aluno_progresso,
    .painel_aluno_mensagens,
    .painel_aluno_atividades {
        width: 70%;
        max-width: 100%;
        margin: 0 auto;
    }

    /* REMOVE WIDTH FIXO BUGADO */
    .painel_aluno_atividades {
        width: 70%;
        max-width: 100%;
        margin: 0 auto;
    }

}


