.personais-ativos {
    display: flex;
    flex-direction: column;
    background-color: var(--roxo-adm);
    padding: 20px;
    align-items: center;
    color: white;
    gap: 20px;
    border-radius: 20px;
}

.personais-ativos ul {
    font-size: 20px;
}

.top-personais {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-personais p {
    font-size: 40px;
}

.personais-total {
    background-color: var(--roxo-adm);
    color: white;
    border-radius: 20px;
    padding: 20px;
}

summary {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 30px;
}

summary i {
    color: black;
}

.anotacao {
    padding: 20px;
    background-color: var(--roxo-hover);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.anotacao h1 {
    font-size: 24px;
}

.anotacao a {
    background-color: var(--cor-primaria);
    color: white;
    padding: 6px;
    border-radius: 10px;
    margin: 0 30px;
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px;
  margin-top: 14px;
}