body {
    font-family: var(--fonte-padrao)
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.calendario {
    background-color: var(--cinza-primario);
}

.divisao {
    background-color: var(--brand-green);
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
    border-radius: 20px;
}

.divisao-interno {
    display: flex;
    gap: 20px;
    font-weight: var(--peso-semibold);
    color: white;
    align-items: center;
}

.quadrado {
    width: 25px;
    aspect-ratio: 1/1;
}

#quadrado-1 {
    background-color: red;
}

#quadrado-2 {
    background-color: #4F61BC;
}

#quadrado-3 {
    background-color: #5EE352;
}

#quadrado-4 {
    background-color: #00FFB7;
}

.calendario {
    width: 480px;
    height: 480px;
    background-color: #dddddd;
    border-radius: 24px;
    padding: 24px;
}

/* ===== TOPO ===== */
.top-calendario {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-calendario p {
    font-size: 18px;
    font-weight: 700;
    color: #111;
}

.top-calendario a {
    width: 44px;
    aspect-ratio: 1;
    background-color: #f7f7f7;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #a5a5a5;
    font-size: 1.3rem;

    box-shadow: 0 4px 10px rgba(0,0,0,0.10);
}

.hr {
    width: 100%;
    height: 1px;
    background-color: #bdbdbd;
    margin: 22px 0;
}

/* ===== PARTE DE BAIXO ===== */
.bottom {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

/* DIAS DA SEMANA */
.dias-semana {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.dias-semana span {
    font-size: 1.2rem;
    font-weight: 700;
    color: #8d8d8d;
}

/* DIAS */
.dias {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 14px;
}

.dia {
    width: 42px;
    aspect-ratio: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 12px;
    font-size: 1.7rem;
    font-weight: 700;
    background-color: #f7f7f7;

    margin: auto;
}

/* CORES */
.vermelho {
    border: 3px solid #ff1f1f;
}

.azul {
    border: 3px solid #4d63ff;
}

.verde {
    border: 3px solid #4be04b;
}

.ciano {
    border: 3px solid #00ffd5;
}